<nav >
  <ul>
    <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></li>
    <li><a href="/menu" class="<%= page === 'menu' ? 'active' : '' %>">Menu</a></li>
    <li><a href="/buffet" class="<%= page === 'buffet' ? 'active' : '' %>">Buffet</a></li>
    <li><a href="/about" class="<%= page === 'about' ? 'active' : '' %>">About Us</a></li>
  </ul>
</nav>
