<aside class="sidebar">
  <div class="sidebar-column">
    <h3>Opening Hours</h3>

    <div class="opening-hours">
      <div class="hours-row">
        <span class="day">Monday - Friday</span>
        <span class="time">11:00 AM - 10:00 PM</span>
      </div>

      <div class="hours-row">
        
        <span class="day">Saturday</span>
        <span class="time">12:00 PM - 11:00 PM</span>
      </div>

      <div class="hours-row">
        <span class="day">Sunday</span>
        <span class="time">12:00 PM - 9:00 PM</span>
      </div>

      <p class="hours-note">⭐ Happy Hour: Mon to Fri 3 to 6 PM</p>
    </div>
  </div>
</aside>
