<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <main>
        <h2 class="description">
            <% if (locals.mealType === 'lunch') { %>Lunch Buffet
            <% } else if (locals.mealType === 'dinner') { %>Dinner Buffet
            <% } else { %><%= description %><% } %>
        </h2>
        
        <div id="navBar"></div>

        <section id="lunchBuffet">
            <% if (locals.pageType === "Buffet") { %>
                <%- include('../partials/lunchBuffet.ejs') %>
            <% } %>
        </section>

        <section id="dinnerBuffet"></section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>