 <%- include('../partials/header.ejs', { page:"buffet"}) %> 
 
    <main>
        <h2 class="description">
            <%= description %>
        </h2>
        <section>
            <% if (locals.page==="buffet" ) { %>
                <%- include('../partials/buffetDisplay.ejs') %>
            <% } %>
        </section>
     </main>
<%- include('../partials/footer.ejs') %>

