<%- include('../partials/header') %>

<main class="category-selection">
  <h2>Explore Our Menu</h2>
  <div class="menu-grid">
    <a href="/menu/vegItems" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/vegmenu/paneertikka.jpg" alt="Veg" />
      </div>
      <div class="card-content"><h3>Vegetarian</h3></div>
    </a>

    <a href="/menu/nonVegItems" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/nonvegmenu/butterchicken.jpg" alt="Non-Veg" />
      </div>
      <div class="card-content"><h3>Non-Vegetarian</h3></div>
    </a>

    <a href="/menu/desserts" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/dessert/mangokulfi.jpg" alt="Desserts" />
      </div>
      <div class="card-content"><h3>Desserts</h3></div>
    </a>
  </div>
</main>

<%- include('../partials/footer') %>
