<%- include('../partials/header' , { page: "menu" })%>
<div class="menu-container">
<main class="category-selection">
  <h2>Explore Our Menu</h2>
  <div class="menu-grid">

    <a href="/menu/starter" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/starter/starter.jpg" alt="Starter" />
      </div>
      <div class="card-content"><h3>Starters</h3></div>
    </a>
    
    <a href="/menu/veg" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/vegmenu/veg.jpg" alt="Veg" />
      </div>
      <div class="card-content"><h3>Vegetarian</h3></div>
    </a>

    <a href="/menu/nonVeg" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/nonvegmenu/nonveg.jpg" alt="Non-Veg" />
      </div>
      <div class="card-content"><h3>Non Vegetarian</h3></div>
    </a>
    <a href="/menu/desserts" class="menu-card">
      <div class="card-image">
        <img src="/images/menu/dessert/mangokulfi.jpg" alt="Desserts" />
      </div>
      <div class="card-content"><h3>Desserts</h3></div>
    </a>
  </div>
</main>
</div>


<%- include('../partials/footer') %>
